<launch>

    <rosparam file="$(find buff_controller)/config/controllers.yaml" command="load"/>
    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="
        controllers/buff_controller
        controllers/joint_state_controller
  "/>

</launch>
